website/WebApplication1/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfService4" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerchingForOponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendMove" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endGameServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="g" nillable="true" type="q1:Game" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="MoveList" nillable="true" type="q2:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTeamGameServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="game" nillable="true" type="q3:Game" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="winner" nillable="true" type="q4:Team" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="AllMoves" nillable="true" type="q5:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endGameServer2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="g" nillable="true" type="q6:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerchingForOponentTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="team" nillable="true" type="q7:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMoveTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="team" nillable="true" type="q8:Team" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="move" nillable="true" type="q9:Move" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackFunc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReseveMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReseveMoveTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="m" nillable="true" type="q10:Move" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="t" nillable="true" type="q11:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTeamGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="game" nillable="true" type="q12:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="getAllPlayersResult" nillable="true" type="q13:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="getAllGamesResult" nillable="true" type="q14:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGamesForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGamesForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllGamesForComboResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayersNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayersNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllPlayersNamesResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGameOfPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGameOfPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="GetAllGameOfPlayerResult" nillable="true" type="q17:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersOfGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersOfGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="GetAllPlayersOfGameResult" nillable="true" type="q18:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovesOfGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovesOfGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="GetAllMovesOfGameResult" nillable="true" type="q19:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService4" minOccurs="0" name="GetGameByIdResult" nillable="true" type="q20:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerWithTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerWithTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPlayerWithTeamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerTeamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayers2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayers2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllPlayers2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGames2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGames2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllGames2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGamesForCombo2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGamesForCombo2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllGamesForCombo2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayersNames2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPlayersNames2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllPlayersNames2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGameOfPlayer2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGameOfPlayer2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllGameOfPlayer2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersOfGame2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersOfGame2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPlayersOfGame2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovesOfGame2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovesOfGame2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMovesOfGame2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameById2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameById2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGameById2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountPlayerGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountPlayerGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountPlayerGamesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>